<main class="container-fluid homepage-container">
  <section class="section-content py-3">
    <div class="row">
      {{>aside}}
      <section class="homepage-content col-lg-8">
        <p class="homepage__title">Products</p>
        <h3 class="header-tertiary">Products from KIM BIEN</h3>
        <ul class="homepage-products__grid">
          {{#each products}}
          <li class="homepage-product__container">
            <img
              class="homepage-product__image"
              alt="product image"
              src="/images/products/thumbnails/{{this.thumbnail}}"
            />
            <a
              class="homepage-product__name"
              href="./{{this._id}}"
            >{{this.name}}</a>
            <p class="homepage-product__seller">{{this.seller.username}}</p>
            <p class="homepage-product__price">{{this.price}}</p>
          </li>
          {{/each}}
        </ul>
      </section>
    </div>
  </section>
</main>
<script>
  console.log({{products}})
</script>