<main class="container">
  <section class="basic-info">
    <div class="basic-info__image-container">
      <img
        src="/images/products/thumbnails/{{product.thumbnail}}"
        alt="image of item"
        class="basic-info__image"
      />
    </div>
    <div class="basic-info__content-container">
      <p class="basic-info__category">{{product.category}}</p>
      <p class="basic-info__item-name">{{product.name}}</p>
      <div class="basic-info__shop-name-container">
        <ion-icon name="person" class="basic-info__shop-name-icon"></ion-icon>
        <p class="basic-info__shop-name">{{product.seller.username}}</p>
      </div>
      <p class="basic-info__intro">
        {{product.shortDescription}}
      </p>
      <div class="basic-info__price-container">
        <p class="basic-info__price">{{product.price}}</p>
        <div class="basic-info__counter">
          <button class="basic-info__counter-btn basic-info__counter-minus">
            -
          </button>
          <input
            class="basic-info__counter-input"
            type="number"
            value="1"
            required
          />
          <button class="basic-info__counter-btn basic-info__counter-plus">
            +
          </button>
        </div>
      </div>
      <div class="basic-info__buttons-container">
        <button class="btn btn--black">Add To Cart</button>
        <button class="btn btn--black-border">Add To Wishlist</button>
      </div>
    </div>
  </section>
  <section class="detail">
    <h3 class="header-tertiary">CHI TIẾT SẢN PHẨM</h3>
    <p class="detail__content">
      {{product.longDescription}}
    </p>
  </section>
</main>
<link rel="stylesheet" href="/css/detail-item.css" />