<div class="row justify-content-md-center">
  <div id="holder" class="col col-sm-6 border boder-dark rounded px-5">
    <h2 class="text-uppercase text-center">thêm sản phẩm</h2>
    <form
      action="/api/v1/products/{{product._id}}"
      enctype="multipart/form-data"
      method="post"
    >
      <div class="mb-3">
        <label for="product-name" class="form-label">Tên sản phẩm</label>
        <input
          type="text"
          class="form-control"
          id="product-name"
          name="name"
          value="{{product.name}}"
        />
      </div>
      <div class="mb-3">
        <label for="product-price" class="form-label">Giá sản phẩm</label>
        <input
          type="number"
          class="form-control"
          id="product-price"
          name="price"
          value="{{product.price}}"
        />
      </div>
      <div class="mb-3">
        <label for="short-description" class="form-label">Mô tả sản phẩm</label>
        <textarea
          class="form-control"
          id="short-description"
          rows="5"
          name="shortDescription"
        >{{product.shortDescription}}</textarea>
      </div>
      <div class="mb-3">
        <label for="long-description" class="form-label">Mô tả chi tiết sản phẩm</label>
        <textarea
          class="form-control"
          id="long-description"
          rows="12"
          name="longDescription"
        >{{product.longDescription}}</textarea>
      </div>

      <div class="mb-3">
        <select
          id="groups"
          multiple
          class="selectpicker w-auto"
          data-live-search="true"
          name="category"
        >
          <option selected disabled>Select one or more groups</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="row mb-3">
        <label
          for="image-selection"
          class="form-label col-auto"
        >Thumbnail</label>
        <input
          type="file"
          accept="image/*"
          class="form-control col-auto"
          id="image-selection"
          name="thumbnail"
          value="{{product.thumbnail}}"
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-dark mb-3 text-uppercase">
          Save
        </button>
        <button
          type="button"
          class="btn btn-dark mb-3 text-uppercase"
          id="btn--cancel"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<link rel="stylesheet" href="/css/productEditPopup.css" />
<link rel="stylesheet" href="/css/buttons.css" />