<div class="profilePage">
  <div class="profilePageName">PROFILE</div>
  <section class="profileMainBanner container-fluid row">
    {{#if asideProfile}}
    {{>asideProfile}}
    {{/if}}
    <div class="profileMainBoard m-4 col-lg-6">
      <div class="profileContent m-4">
        <div>
          <div class="profile__avatar-container">
            <img
              class="profile__avatar"
              src="/images/users/avatars/{{user.avatar}}"
              alt="user avatar"
            />
          </div>
          <div class="profile__infos">
            <p class="profile__store-name profile__info">
              <ion-icon name="person"></ion-icon> {{user.username}}
            </p>
            {{#if user.storeName}}
            <p class="profile__store-name profile__info">
              <ion-icon name="storefront"></ion-icon> {{user.storeName}}
            </p>
            {{/if}}
            {{#if user.phoneNumber}}
            <p class="profile__phone-number profile__info">
              <ion-icon name="call"></ion-icon> {{user.phoneNumber}}
            </p>
            {{/if}}
            {{#if user.description}}
            <p class="profile__description">
              {{user.description}}
            </p>
            {{/if}}
          </div>
          {{#if editButton}}
          <div class="profile__button-container">
            <button type="button" class="editProfileButton btn btn--black">Edit Profile</button>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    <form  class="formProfile popupProfileForm hidden">
          <div class="nameField">
            <label for="Username" class="form-label">Họ và Tên:</label>
            <input
              type="text"
              class="form-control mt-2"
              id="Username"
              name="Username"
              required
            />
          </div>
          <div class="descriptionField">
            <label for="description" class="form-label">Miêu tả:</label>
            <textarea
              rows="10"
              cols="50"
              class="form-control mt-2"
              id="description"
              name="description"
            >
            </textarea>
          </div>
          <div class="userphoneField">
            <label for="PhoneNumber">Số điện thoại:</label>
            <input type="tel" class="form-control mt-2" id="PhoneNumber"
            name="PhoneNumber" pattern="[0-9]{10}">
          </div>
          <div class="shopNameField">
            <label for="shopName">Tên cửa hàng:</label>
            <input
              type="text"
              class="form-control mt-2"
              id="shopName"
              name="shopName" />
          </div>
          <div class="avatarField">
            <label for="avatar">Avatar:</label>
            <input
              type="file"
              class="form-control mt-2"
              id="avatar"
              name="avatar"
              accept="image/*"
            />
          </div>
          <div class="saveButtonDiv m-4">
            <button type="submit" class="saveEditProfileButton btn btn--black">Save</button>
          </div>
    </form>
  </section>
  </div>
</div>

<script src="/javascript/profilePage.js"  type="text/javascript" ></script>